/* .MamaBear {
  display: flex;
  align-items: center;
  justify-content: center;
}
.AdultSonBear{
  display: flex;
  justify-content: center;
  padding-top: 50px; */
  /* height: 100vh; */
  /* width: 649px; */
  /* background-color: white; */
/* }
.ToddlerBear {
  background-color: black;
  height: 20px;
}
.BabyBear {
  background-color: black;
  height: 20px;
  color: rgb(86, 86, 86) !important;
} */