.Parent {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  border-bottom: 1px solid grey;
}
.PlusMinus {
  margin: 10px;
  background-color: aquamarine;
  width:150px;
  height:40px;
}
.Count {
  color:darkgreen;
  font-size: 40px;
  padding: 0px;
}