.Navbar {
  height: 45px;
  width: 45px;
  background-color: black !important;
  color: black !important;
  position: absolute;
  top: 20px;
  right: 40px;
  border: 2px solid rgb(51, 51, 51) !important;
  border-radius: 50% !important;
  box-shadow: 1px 1px 4px 2px rgba(212, 212, 212, 0.835) !important;
}

.Navbar:hover {
  box-shadow: 1px 1px 4px 2px rgba(243, 243, 255, 0.5) !important;
  background-color: rgb(41, 41, 41) !important;
}

.Navbar:active {
  background-color:rgba(124, 124, 124, 0.5) !important;
}

.Menu {
  background-color:black !important;
}

.MenuHeading {
  margin-bottom: 10px;
  padding: 10px 20px 10px 20px;
  justify-content:center;
  font-size: 17px;
  color: rgb(218, 204, 255);
  background-color:rgb(61, 61, 61);
  font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif
}
  
.MenuIcon {
  color: rgb(218, 204, 255);
  padding-top: 1px;
  padding-right: 10px;
  font-size: 17px;
}

.LinkText {
  padding: 1px 20px 1px 20px;
  display: flex;
  flex-direction: row;
  color: rgb(218, 204, 255);
  text-decoration: none;
  font-size: 17px;
  font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif
}

.LinkText:hover {
  background-color: rgb(61, 61, 61);
}

.Spacer {
  padding-bottom: 10px;
  background-color:black;
}
