.Slider {
  padding-top: 30px;
  position: relative;
  display: flex;
  justify-content:center;
  align-items: center;
  padding-bottom: 75px;
}
.RightArrow {
  padding-left: 40px;
  top: 175px;
  font-size: 3rem;
  z-index: 10;
  cursor: pointer;
  user-select: none;
  color: darkblue;
  opacity: 50%;
}
.LeftArrow {
  padding-right: 40px;
  top: 175px;
  font-size: 3rem;
  z-index: 10;
  cursor: pointer;
  user-select: none;
  color: darkblue;
  opacity: 50%;
}

.LeftArrow:hover, .RightArrow:hover, .Toggler:hover {
  opacity: 0.70;
}

.LeftArrow:active , .RightArrow:active, .Toggler:active {
  color: rgb(63, 116, 197);
  transform: scale(.95);
}

.Slide {
  opacity: 0;
  transition-duration: 1s ease;
}
.SlideActive {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08)
}
.PageNumber {
  width: 100px;
  font-size: 1.25rem;
  float: center;
  display: flex;
  justify-content:center;
  align-items: center;
}
.PageControlCenter {
  width: 100%;
  display: flex;
  justify-content:center;
  margin-bottom: 25px;
  background-color: transparent;
}

.Toggler {
  align-items: right;
  margin-top: 10px;
  margin-right: 10px;
  padding: 8px;
  border-radius: 50%;
  border: black;
  background-color: azure;
  font-size: 1.5rem;
  top: 175px;
  color: darkblue;
  z-index: 10;
  cursor: pointer;
  user-select: none;
  opacity: 50%;

}

.ToggleParent {
  float: right;
}