.Slider {
  padding-top: 30px;
  position: relative;
  display: flex;
  justify-content:center;
  align-items: center;
}
.RightArrow {
  padding-left: 40px;
  top: 175px;
  font-size: 3rem;
  color: darkblue;
  z-index: 10;
  cursor: pointer;
  user-select: none;

}
.LeftArrow {
  padding-right: 40px;
  top: 175px;
  font-size: 3rem;
  color: darkblue;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.LeftArrow:hover, .RightArrow:hover {
  opacity: 0.70;
}

.LeftArrow:active , .RightArrow:active {
  color: rgb(77, 136, 224)
}

.Slide {
  opacity: 0;
  transition-duration: 1s ease;
}
.SlideActive {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08)
}
.PageNumber {
  width: 100px;
  font-size: 1.25rem;
  float: center;
  display: flex;
  justify-content:center;
  align-items: center;
}
.PageControlCenter {
  display: flex;
  justify-content:center;
  padding-top: 20px;
  padding-bottom: 10px;
}