.BGI {
  margin-top: 0;
  align-items: center;
  background-image: url("../../../public/Images/Banner.jpg");
  height: 200px;
  width: 649px;
  box-sizing: border-box;
  border: 3px solid rgb(230, 213, 64, .5);
  border-radius: 7px;
}